/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/
#header {
	background: #eee;
	}

h1{
	color: #333;
	margin-bottom: 8px;
	text-shadow: 1px 1px 3px #ddd;
	}

/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/

textarea {
width: 100%;
font-family: Consolas, "Monaco";
font-size: 12px;
height: 80px;
padding: 10px;
}
select{
	font-size: 14px;
}
input[type="text"] {
	font-family: 'Liberation Sans', Helvetica, Arial, sans-serif;
	padding:7px;
	font-size: 14px;
	width:100%;
}
input#title {
font-size: 28px;
font-weight: bold;
}
input#chartwidth, input#chartheight {
	width:33%;
}
input#chartwidth  {
	margin-right: 5%;
}
input.colorpicker {
	width:30%;
}

input.title-colorpicker {
	width:30%;
}

#preview-canvas {
	min-height:300px;
}


a.generate {
	font-size: 18px;
}
/**************************************/
/*               FOOTER               */
/**************************************/

