/*************************************
   WELCOME TO THE CUSTOM STYLESHEET
--------------------------------------
              style.css
        BlueTrip CSS Framework
    Put your custom styles in here.
***************************************/

/**************************************/
/*           COLOR SCHEME             */
/**************************************
- black		#000
- white		#fff
-           #
-           #
-           #
***************************************/


/**************************************/
/*              GLOBALS               */
/**************************************/


/**************************************/
/*              HEADER                */
/**************************************/
#header {
	padding-left: 16px;
	margin-bottom: 1em;
	color: #555;
	background: #e5e5e5; /* Old browsers */
	background: -moz-linear-gradient(top, #e5e5e5 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e5e5e5), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5e5', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #e5e5e5 0%,#ffffff 100%); /* W3C */	
	}

h1{
	color: #999;
	margin: .5em 0 .3em;
	font-size:3.6em;
	text-shadow: 1px 1px 2px #fff;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: -2px;
	}
	

h2 {
	font-size:2.5em;
	font-family: Helvetica, Arial, sans-serif;
	color: #999;

}
/**************************************/
/*             NAVIGATION             */
/**************************************/



/**************************************/
/*            MAIN CONTENT            */
/**************************************/

h4 {
	color: #666; 
	}

div.option {
	padding-left:10%;
}

div.option h4{
	margin-left:-10%;
}

textarea {
width: 100%;
font-family: Consolas, "Monaco";
font-size: 12px;
height: 80px;
padding: 10px;
}
select{
	font-size: 14px;
}
input[type="text"] {
	font-family: 'Liberation Sans', Helvetica, Arial, sans-serif;
	padding:7px;
	font-size: 14px;
	width:100%;
}
input#title {
font-size: 16px;
font-weight: bold;
}
input#chartwidth, input#chartheight {
	width:30%;
}
input#minv, input#maxv {
	width:25%;
}
input#chartwidth, input#minv {
	margin-right: 5%;
}
input#chartlabelsname, input#chartdataname {
	width:35%;margin-left: 5%;
}
input.colorpicker {
	width:25%;
}

input.title-colorpicker {
	width:15%;
}

#preview-canvas {
	min-height:300px;
}


a.generate {
}

.tiny {
	font-size: .4em;
}

h2 {
	border-bottom:1px solid #999;
}
label {
	font-weight: normal;
}

/*** STYLES FOR BUTTONS ***/
input#renderChart {
  display: inline-block;
  float: left;
  margin:0 0.583em 0.667em 0;
  padding:5px 14px 5px 14px;   /*** Links ***/
  border:1px solid #529214;
  border-top:1px solid #C6D880;
  border-left:1px solid #C6D880;
  font-family:"Liberation Sans", Helvetica, Arial, sans-serif;
	font-size: 18px;
  line-height:130%;
  text-decoration:none;
  font-weight:bold;
  color:#529214; 
  cursor:pointer;
  background-color:#f5f5f5;
  box-shadow: 1px 1px 3px #aaa;
}
input#renderChart:hover { background-color:#E6EFC2; border:1px solid #010; color:#529214; border-top:1px solid #529214; border-left:1px solid #529214;}
input#renderChart:active { background-color:#529214; border:1px solid #529214; color:#fff; }


.renderbutton { min-height:50px; }




/* forms  */
textarea:focus, input[type='text']:focus, input[type='password']:focus, select:focus { border-color: #888; outline: 2px solid #5588ee; background:#ffffe6}


/**************************************/
/*               FOOTER               */
/**************************************/
#footer {
	background: #eee;
	padding:1em;
	margin-top: 2em;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* W3C */
	}